# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

.TestArray.java.swm
.TestArray.java.swn
.TestArray.java.swo
.TestArray.java.swp

.Array.java.swo
.Array.java.swp
.Stats.java.swp